<nav id="sidebar" class="col-md-3 col-lg-2 d-md-block bg-dark sidebar collapse">
  <div class="position-sticky pt-3">
    <h6 class="text-white px-3 mb-3">Модули</h6>
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link text-white" href="{% url 'home' %}">
          <i class="bi bi-house"></i> Главная
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="{% url 'stations' %}">
          <i class="bi bi-broadcast"></i> Станции
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="{% url 'tours' %}">
          <i class="bi bi-camera-reels"></i> Туры
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="{% url 'my_tours' %}">
          <i class="bi bi-person"></i> Мои туры
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="{% url 'map' %}">
          <i class="bi bi-map"></i> Карта
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="{% url 'slam_projects' %}">
          <i class="bi bi-diagram-3"></i> SLAM
        </a>
      </li>
      {% if nav_admin or nav_flags.facade_cad %}
      <li class="nav-item">
        <a class="nav-link text-white" href="{% url 'facade_cad' %}">
          <i class="bi bi-rulers"></i> FacadeCAD
        </a>
      </li>
      {% endif %}
      {% if nav_admin or nav_flags.topo_cad %}
      <li class="nav-item">
        <a class="nav-link text-white" href="{% url 'topo_cad' %}">
          <i class="bi bi-signpost-2"></i> TopoCAD
        </a>
      </li>
      {% endif %}
      {% if nav_admin or nav_flags.facade_foto %}
      <li class="nav-item">
        <a class="nav-link text-white" href="{% url 'facade_foto' %}">
          <i class="bi bi-image"></i> FacadeFoto
        </a>
      </li>
      {% endif %}
      <li class="nav-item">
        <a class="nav-link text-white" href="{% url 'documents:list' %}">
          <i class="bi bi-folder"></i> Документы
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="{% url 'subscriptions' %}">
          <i class="bi bi-credit-card"></i> Подписки
        </a>
      </li>
      {% if nav_admin %}
      <li class="nav-item">
        <a class="nav-link text-white" href="{% url 'users' %}">
          <i class="bi bi-people"></i> Пользователи
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="{% url 'employees' %}">
          <i class="bi bi-person-gear"></i> Сотрудники
        </a>
      </li>
      {% endif %}
    </ul>
  </div>
</nav>
